<div class="row">
	<div class="large-12 large-centered columns">
		<div class="row">
			<div class="small-8 medium-8 large-8 small-centered columns">
				<h1><%= @article.title %></h1>
			</div>
		</div>

		<div class="row">
			<div class="small-8 medium-8 large-8 small-centered columns">
				<p><%= @article.text %></p>
			</div>
		</div>
		
	</div>
</div>