
  <div class="row">
    <div class="large-7 large-centered columns">
      <div class="form-containers">

    
        <div class="large-12 columns form-header">
         
          <h1 class="text-center">Edit account</h1>

        </div>

        <%= render 'form' %>

      </div>
    </div>

  </div>