/*Handles styling for user show page*/

.user-header {
	margin-top: 70px;
}

.user-name {
	margin-top: 40px;
	font-family: Muli;
	font-size: 35px;
}

.user-description {
	font-family: Muli;
	font-size: 16px;
	font-weight: 300;
}