/*Handles styling for user show page*/

.user-header {
	margin-top: 70px;
}

.user-image {
	/*border-radius: 10;*/
	/*height: 140px;
	width: 170px;*/
 /*border: 1px double #000;*/
outline: 2px solid #699;
outline-offset: -12px;

}

.user-name {
	margin-top: 40px;
	font-family: Muli;
	font-size: 35px;
}

.user-description {
	font-family: Muli;
	font-size: 16px;
	font-weight: 300;
}